<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h1 style="text-align: center;">Register</h1>
        <form action="/create-regis" method="POST">
            <!-- Email -->
            <label for="email">Email</label><br>
            <input type="email" name="email" id ='email' placeholder="Enter you Email" required><br>
            <!-- Username -->
            <label for="user_name">Username</label><br>
            <input type="text" placeholder="Enter Username" name='user_name' id='user_name'required> <br>
            <!-- Password -->
            <label for="password">Password</label> <br>
            <input type="password" placeholder="Enter Password" name='password' id = 'password'> <br>
            <!-- Submit -->
            <button type="submit">Register</button><br>
            <p>Go to Login page<a href="login.html"> Login</a></p>
        </form>
    </div>
</body>
</html>